
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    color: #f8f8ff;
}

body {    
    background-color: rgb(255, 210, 143);    
}

main {

    max-width: 550px;
    margin: 0 auto;
    text-align: center;  
    background-color: #1F2937;
    
}

header {    
    
    background: linear-gradient(45deg, #1e8db6, #18244A, #18244A, #1e8db6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;    
        }
    
}

.title {
    /* border: 2px solid yellow; */
    /* margin-top: 50px; */
    /* margin-bottom: 5px; */
    margin-top: 0px;
    padding-top: 50px;
    font-size: 20px;
    font-family: outfit;
    
}

#count-el{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 20px;    
    font-size: 80px;
    font-family: sans-serif;
    
}
.container {   
    /* padding: 0px;
    border: 2px solid red; */
    padding-bottom: 20px;
}

